<!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
        <title>Greeting</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:if="${illegalLogin}">Illegális bejelentkezés történt. Kérjük lépjen át a login oldalra.</h1>
        <div th:unless="${illegalLogin}"><h1 th:text="'Hello, ' + ${name} + '!'"></h1>
        <p>You are awesome!</p>
        </div>
    </body>
</html>