<html xmlns:th="http://www.thymeleaf.org">
<body>
    <p>Select a File to Load:</p>
    <div>
       <input id="inputFileToLoad" type="file" accept=".mp3"/>
    </div>
    
    <div>
        Cím:<textarea id="cim" style="width:200;height:20" ></textarea>
    </div> 
    Tagek:<textarea id="textAreaFileContents" style="width:70;height:20" ></textarea>
    <p id= "showtags"></p>
    <div>
        Privát a zene? (ha nem, akkor ne csekkold be):  <input id="checkBox" type="checkbox"></input>
    </div>
    <div>
            <button id="butten">Feltöltés!</button>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>
    var tags = [];
    
    function convertAndSendData(){
    var filesSelected = document.getElementById("inputFileToLoad").files;
    if (filesSelected.length > 0){
        var fileToLoad = filesSelected[0];
 
        var fileReader = new FileReader();
 
        fileReader.onload = function(fileLoadedEvent) 
        {
            //var textAreaFileContents = document.getElementById
            //(
              //  "textAreaFileContents"
            //);
     
            //textAreaFileContents.innerHTML = fileLoadedEvent.target.result;
            console.log("mukodok");
            $.ajax({
                    type : "POST",
                    url : "/test/upload",
                    data : {
                        myArray: tags, //notice that "myArray" matches the value for @RequestParam
                                    //on the Java side
                        string: fileLoadedEvent.target.result,
                        privat: document.getElementById("checkBox").checked,
                        title: document.getElementById("cim").value
                    },
                    success : function(response) {
                       // do something ... 
                    },
                    error : function(e) {
                       alert('Error: ' + e);
                    }
                });
        };
 
        fileReader.readAsDataURL(fileToLoad);
        }
    }
    
    document.getElementById("textAreaFileContents").addEventListener("keypress", function(e){
        var key = e.which || e.keyCode;
        if(key === 13){
            if(tags.length != 0){
                var str = this.value.substring(1, this.value.length);
            }else{
                var str = this.value;
            }
            if( str !== ""){
                tags.push(str);
                document.getElementById("showtags").innerHTML += " " + str;
                console.log(tags);
                this.value = ""; 
            }
        }
    });
    
    document.getElementById("butten").addEventListener("click", function(){
            console.log("mukodok");
                convertAndSendData();
            });
            
    </script>
</body>
</html>
