<app-header></app-header>
<div class="login">
  <form>
    <div id="username">
      <label for="username">Felhasználónév:</label>
      <input type="text" name="username" placeholder="username" th:field="*{username}" />
    </div>
    <div id="password">
      <label for="password">Jelszó:</label>
      <input type="password" name="password" placeholder="password" th:field="*{password}" />
    </div>
    <input type="submit" value="Belépek!" />
    <button type="reset">Törlés</button>
  </form>
  <div>Még nincs felhasználója? <a routerLink="../registration">Regisztáljon itt!</a></div>
</div>