<app-header></app-header>
<div class="registration">
  <form>
    <div id="username">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="username" th:field="*{username}" />
    </div>
    <div id="password">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password" th:field="*{password}" />
    </div>
    <div id="email">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="email" th:field="*{email}" />
    </div>
    <input type="submit" value="Regisztrálok!" />
    <button type="reset">Töröl</button>
  </form>
  <div>Már van felhasználója? <a routerLink="../login">Jelentkezzen be itt!</a></div>
</div>